/*learn more button*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.learn-more-button {
background-color: #79609f !important;
border-color: #79609f !important;
}

.learn-more-button:hover {
background-color: #9F609F !important;
border-color: #9F609F !important;
}

.nav-color {
  background-color: #a3a375;
}

.rounded-circle {
 border-radius: 50% !important;
 width: 200px;
 height: 200px;
}
