
/*learn more button*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-search {
   color: #ccc;
   background-color: #79609f !important;
   border-color: #79609f !important;
}

.btn-search:hover {
   color: #ccc;
   background-color: #9F609F !important;
   border-color: #9F609F !important;
}

.learn-more-button {
background-color: #79609f !important;
border-color: #79609f !important;
}

.learn-more-button:hover {
background-color: #9F609F !important;
border-color: #9F609F !important;
}

.nav-color {
  background-color: #a3a375;
}

.nav-link:hover {
  color: rgb(255, 255, 179);
}

.rounded-circle {
 border-radius: 50% !important;
 width: 200px;
 height: 200px;
}

input[type=text], input[type=password] {
width: 100%
padding: 12px 20px:
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #4CAF50;
color:white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%
}
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}
.cancelbtn,.signupbtn {
   float: left:
   width: 50;
}

.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fa-facebook-square {
    color: rgb(121, 96, 159);
  }

  .fa-facebook-square:hover {
      color: rgb(159, 96, 159);
    }

  .fa-instagram {
      color: rgb(121, 96, 159);
    }

  .fa-instagram:hover {
        color: rgb(159, 96, 159);
      }

/* .footer {
    background-color: #a3a375;
    width:auto;
    height:3em;
}
